<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Basic Splatter Client</title>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="app.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<!---<div ng-controller="UserController as user">
			Add your HTML and Angular code below
				<p> {{user.hello}} </p>
				<p> {{user.u.name}} </p>
				
			<div ng-repeat="splatt in user.feed">
				<p> {{splatt.body}} </p>
			</div> 
			
			<form name="myForm" ng-controller="UpdateFormController as form" ng-submit="form.updateUser(user)">
				<input type="text" ng-data="form.data.name" />
				<input type="submit" value="Update user" />
			</form>
			
			 Add your HTML and Angular code above 
			
		</div>-->
		
		<!-- A new user shall be able to create an account  -->
		<div>
			<form name="myForm" ng-controller="CreateNewUser as form" ng-submit="form.createUser()">
				<fieldset> 
				<legend> Create a new account </legend>
					<p> Email: <input type="email" ng-model="form.data.email" />  </p>
					<p> Name: </label> <input type="text" ng-model="form.data.name" /> </p>
					<p> Password: </label> <input type="password" ng-model="form.data.password" /> </p>	
					<input type="submit" value="Create Account" />
				</fieldset> 
			</form>
		</div>
		</br> 
		
		<!-- An existing user shall be able to "sign in" -->
		<div ng-controller="ExistingUser as form">
			<form name="myForm"  ng-submit="form.existingUser()">
				<fieldset>
				<legend> Sign in </legend>		
					<p> ID <input type="text" ng-model="form.data.id"/> </p>
					<p> Email <input type="text" ng-model="form.data.email"/> </p> 
					<p> Password <input type="password" ng-model="form.data.password"/> </p>
					<input type="submit" value="Sign In">  
					<p> {{form.u.name}} </p>
				</fieldset>
			</form>
			<div ng-repeat="Splatt in form.u.splatts_feed"> 
				<p> {{Splatt.body}} </p>
			</div>
		</div>
		</br>
		
		<!-- An existing user shall be able to edit her name and blurb fields -->
		<div>
			<form name="myForm" ng-controller="EditUser as form" ng-submit="form.editUser()">
				<fieldset>
				<legend> Update name and blurb fields </legend>
					<p> ID <input type="text" ng-model="form.data.id" ng-change="form.getUser()"/> </p> 
					<p> Blurb <input type="text" ng-model="form.data.blurb"/> </p> 
					<p> Name <input type="text" ng-model="form.data.name"/> </p> <input type="submit" value="Update">
				</fieldset>
			</form>
			
		</div>
		</br> 
		
		<!-- An existing user shall be able to compose and submit a new splatt -->
		 <div>
			<form name="myForm" ng-controller="ComposeAndSubmitSplatt as form" ng-submit="form.composeSplatt()">
				<fieldset>
				<legend> Compose and Submit a new splatt </legend>
					<p> ID <input type="text" ng-model="form.data.id"/> </p> 
					<p> Splatt <input type="text" ng-model="form.data.body" /> </p> 
					<input type="submit" value="Submit" />
				</fieldset>
			</form>
		</div>
		</br> 
		
		<!-- An existing user shall be able to see his splatts feed -->
		 <div >
			<form name="myForm" ng-controller="ViewSplattsFeed as form" ng-submit="form.viewSplatt()">
				<fieldset>
				<legend> View splatts feed </legend>
					<p> ID <input type="text" ng-model="form.data.id"/> </p> 
					<input type="submit" value="View Splatts" />
						<div ng-repeat="Splatt in form.splatts_feed"> 
							<p> {{Splatt.user_id}}:{{Splatt.body}} </p>
						</div>
				</fieldset>
			</form>
		</div>
		</br>  
		
		<!-- A user whether signed in or not, shall be able to view others information and splatts -->
		<div ng-controller="ViewInformation as form">
			<form name="myForm" ng-submit="form.viewInfo()">
				<fieldset>
				<legend> View another user's information </legend>
					<p> ID <input type="text" ng-model="form.data.id"/> </p> 
					<input type="submit" value="View Information" />
					<p> {{form.u.name}} </p>
					<p> {{form.u.email}} </p>
									
				</fieldset>
			</form>
				<div ng-repeat="Splatt in form.splatts"> 
					<p> {{Splatt.body}} </p>
				</div>
		</div>
		</br>
		
		<!-- An existing user shall be able to follow other users -->
		<div>
			<form name="myForm" ng-controller="FollowUsers as form" ng-submit="form.followUser()">
				<fieldset>
				<legend> Follow another user </legend>
					<p> User ID <input type="text" ng-model="form.data.id" /> </p> 
					<p> Follows ID <input type="text" ng-model="form.data.follows_id" /> </p> 
					<input type="submit" value="Follow" />
				</fieldset>
			</form>
		</div>
		</br> 
		
		<!-- An existing user shall be able to unfollow other users -->
		<div>
			<form name="myForm" ng-controller="UnfollowUsers as form" ng-submit="form.unfollowUser()">
				<fieldset>
				<legend> Unfollow another user </legend>
					<p> User ID <input type="text" ng-model="form.data.id" /> </p> 
					<p> Follows ID <input type="text" ng-model="form.data.follows_id" /> </p> 
					<input type="submit" value="Unfollow" />
				</fieldset>
			</form>
		</div>
		</br> 
				
		<!-- An existing user shall be able to delete her account -->
		 <div>
			<form name="myForm" ng-controller="DeleteAccount as form" ng-submit="form.deleteUser()">
				<fieldset>
				<legend> Delete an account </legend>
				<p> ID <input type="text" ng-model="form.data.id" /> </p> 
				<input type="submit" value="Delete User" />
				</fieldset>
			</form>
		</div>
		
	</body>
</html>

